.main-section {
  min-height: 645px;
  background-color: #f8f8f8;
  padding-top: 153px;
}

.police-img {
  padding-left: 78px;
  padding-right: 28px;
}

.stripe-4 {
  background: repeating-linear-gradient(
                  -45deg,
                  #f8f8f8,
                  #f8f8f8 10px,
                  #e2ebf4 10px,
                  #e2ebf4 25px
  );

}




